{% extends 'layout2.html' %}

{% block content %}
<form id="form1" name="form1" methods='get'  action="/enviar">

<label>Seleccionar Usuario:</label>
<select name="user" >
    <option value="Sebastian02" >Sebastian02</option> 
</select>

  <div class="container">
    <div class="col-md-8"></div>
    <table class="table table-striped table-bordered bg-white table-sm">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Rol</th>
          <th>Item_Menu</th>
          <th>Seleccionar</th>

        </tr>
      </thead> 
     
      <tbody>
        {% for contact in contacts %}
        <tr>
          <td>{{ contact[0] }}</td>
          <td>{{ contact[1] }}</td>
          <td>{{ contact[2] }}</td>
          <td>  
              <input name ={{ contact[2] }} type="checkbox" {{ contact[3] }}>
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>

      <div align="center">  <input name="Input" type="submit" value="Actualizar Seleccion de Items"/></div>
  </div>
</div>
</form>

<script>
$("div.row-form #estado_cat").attr("checked",true);
</script>


{% endblock %}