<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto CRUD - Tecnologia Python</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="Hoja_estilo_scc2.css") }}">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <script src="../static/js/Chart.js"></script> 
    <!--<script src="{{ url_for("static", filename="Chart.js") }}"></script> -->

    <style type="text/css">
    .Estilo1 {
	    color: #000000;
	    font-weight: bold;
    }

    .Estilo2 {
      color: #ffffff;
    }


    </style>
</head>


<body>
<div id="Contenedor">
  <div id="Layer1">
  <br><br/>
  <h1 class="Estilo2" align="center">Proyecto CRUD - Tecnologia Python</h1>
    <div id="Layer3">
      <table width="100%" border="0">
        <tr >
          <td><div align="center"><a class="Estilo1" href="/Login" title="Login"  >Login</a></div></td>
        </tr>
      </table>
    </div>
    <div id="Layer4">
      
        <div class="container">
                  {% block content %}

                   {%  with messages = get_flashed_messages()  %}
                   {% if messages %}

                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                     {{messages}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                     </button>
                    </div>

                  {% endif %}
                  {% endwith %}  
                  {% endblock %}
        </div>  
    </div>
  </div>
  <div id="Layer2"></div>
  <p>&nbsp;</p>
  </div>

    <script src="../static/js/script.js"></script>
<!--<script src="{{ url_for("static", filename="script.js") }}"></script> -->
</body>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>  


</html>